/* Jumbotron CSS */
    .jumbotron {
 background-image: url(assets/images/cantino-banner.png);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}


h1 {
  color: blue;
}